language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - hhvm

before_script:
  # Install Varnish
  - sudo apt-get update -qq
  - sudo apt-get install -qq varnish
  # Install NGINX
  - sh ./tests/install-nginx.sh
  # Starting webserver
  - sh -c "if [ '$TRAVIS_PHP_VERSION' = '5.3' ]; then ./tests/ci/install-apache.sh; fi"
  - sh -c "if [ '$TRAVIS_PHP_VERSION' = 'hhvm' ]; then ./tests/ci/install-apache-hhvm.sh; fi"
  # Install deps
  - composer update --dev --prefer-source
  # Install Sphinx
  - sudo apt-get install python-sphinx

script:
  - phpunit --coverage-clover=coverage.clover
  - make -C doc html

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

after_failure:
  - cat /tmp/fos_nginx_error.log
  - cat /tmp/fos_nginx_access.log
