<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/FOS/HttpCache/Tests/Functional</exclude>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="Test.php">./tests/FOS/HttpCache/Tests/Functional</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"/>
        <listener class="\FOS\HttpCache\Tests\Functional\WebServerListener">
            <arguments>
                <string>functional</string>
            </arguments>
        </listener>
    </listeners>

    <php>
        <const name="VARNISH_FILE" value="../../../../tests/FOS/HttpCache/Tests/Functional/Fixtures/varnish/fos.vcl" />
        <const name="WEB_SERVER_HOSTNAME" value="fos.lo" />
        <const name="WEB_SERVER_PORT" value="8080" />
        <const name="WEB_SERVER_DOCROOT" value="./tests/FOS/HttpCache/Tests/Functional/Fixtures/web" />
    </php>
</phpunit>
