div.configuration-block {
    position: relative;
}

div.configuration-block ul.simple {
    margin-left: 38px;
}

div.configuration-block ul.simple li {
    list-style: none;
    float: left;
    margin-left: 0;
    margin-right: 1em;
    padding: .2em .5em .5em .5em;
    height: 38px;
    background-color: #c9c9c9;
}

div.configuration-block ul.simple li.selected {
    background-color: #343131;
    border-bottom: none;
}

div.configuration-block ul.simple li.selected a {
    color: white;
}

div.highlight-varnish3, div.highlight-varnish4 {
    border: none !important;
}

div.configuration-block em {
    font-style: normal;
}

div.configuration-block div {
    border-top: none;
    position: absolute;
    left: 0;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

div.configuration-block div div {
    position: static;
}

div.highlight {
    background-color: #343131 !important;
}

div.highlight pre {
    border: none;
    color: white !important;
}

div.highlight pre span.n, 
div.highlight pre span.na, 
div.highlight pre span.nb, 
div.highlight pre span.nc, 
div.highlight pre span.nf,
div.highlight pre span.nx,
div.highlight pre span.kn {
    color: white;
}

div.highlight pre span.nv {
    color: #6ab0de
}

div.highlight pre span.k, div.highlight pre span.o {
    color: #ff8400;
}

div.highlight pre span.mi,
div.highlight pre span.s, 
div.highlight pre span.s1, 
div.highlight pre span.s2,
div.highlight pre span.sr {
    color: #56db3a;
}

div.highlight pre span.hll {
    background-color: #848484;
}

div.highlight pre span.hll span.c1 {
    color: #d8d8d8;
}

div.highlight pre span.p {
    color: #b3b3b3;
}

table.highlighttable td {
    padding: 0;
}

table.highlighttable td div.linenodiv {
    text-align: right;
    width: 38px;
}
