sphinx~=4.2.0
git+https://github.com/fabpot/sphinx-php.git
sphinx-rtd-theme==1.2.0
sphinxcontrib-spelling~=7.2.0
sphinxcontrib-phpdomain
# no idea what this is but it started to conflict
sphinxcontrib-applehelp==1.0.2
pyenchant
docutils==0.17.1
